@page

<h3>Returning a ticket</h3>
<hr />

<div class="justify-content-md-center">
    <div class="alert-success alert">You have successfully returned your ticket </div>

    <form method="post" class="container" style="margin-top: 1rem">
        <a class="btn btn-secondary" asp-page="/UserTickets/UserTickets">Back to your tickets</a>
    </form>
</div>