@page

<h3>Buying a ticket</h3>
<hr />

<div class="justify-content-md-center">
    <div class="alert-success alert">You have successfully purchased your ticket </div>

    <form method="post" class="container" style="margin-top: 1rem">
        <a class="btn btn-secondary" asp-page="/Routes/FindRoutes">Back to List</a>
    </form>
</div>