body {
    text-align: center;
}

table {
    margin: 10px;
}

input {
    text-align: center;
}

label {
    font-weight: bold;
}

h5, h4, h3, h2, h1, b{
    margin-bottom: 1rem;
}

.top-margin-2 {
    margin-top: 2rem;
}

select {
    text-align: center
}
