body {
    text-align: center;
}

table {
    margin: 10px;
}

input, select {
    text-align: center;
}

label {
    font-weight: bold;
}

h5, h4, h3, h2, h1, b{
    margin-bottom: 1rem;
}

.top-margin-2 {
    margin-top: 2rem;
}

.detail-section-header {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: larger;
    width: 100%;
}

.container-route {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
}